 <div class="row">
        <div class="col-lg-4">
        </br>
      </br>
    </br>
  </br>
          <h4 align="center">Julien Houssou </h4>
          <p align="center"><%= image_tag("pic1.png", :alt => "Application exemple", :class => "round") %>
          <p align="center"> Etudiant de 23 ans en 4A-CFA.</br>
          Apprenti en production informatique au sein de BNP Paribas dans les équipes de l'entité Banque de Détail en France</p>
          <p align="center">Email : jhoussou@et.esiea.fr</p>
          <p align="center"><a class="btn btn-primary" href="https://www.linkedin.com/profile/view?id=AAIAABGrkQAB8DAesDJ9XautIr3c-0ekyxpNisE&trk=nav_responsive_tab_profile" role="button">Linkedin &raquo;</a></p>
        </div>
        <div class="col-lg-4">
         <!-- <h4>Pourquoi esquiver "Le Bon Coin"</h4>
          <p>Parce que la phrase d'approche : "Je paierai en Franc CFA par Western-Union" vous saoule ? Annonciator exige le paiement en espèces dans sa charte (que vous ne trouverez jamais).</p>
          <p><a class="btn btn-primary" href="http://www.abcargent.com/arnaque-le-bon-coin-paypal/" role="button">En savoir plus &raquo;</a></p> -->
       </div>

       </br>
      </br>
    </br>
  </br>
        <div class="col-lg-4">
          <h4 align="center"> Antoine Liebert</h4>
          <p align="center"><%= image_tag("pic2.png", :alt => "Application exemple", :class => "round") %>
          <p align="center">Etudiant de 25 ans en 4A-CFA.</br>
          Apprenti chez Saint Gobain au sein des équipes informatiques (Support/Développement Progiciel PeopleSoft.)</p>
          <p align="center">Email : liebert@et.esiea.fr</p>

          <p align="center"><a class="btn btn-primary" href="https://www.linkedin.com/profile/view?id=AAkAAA3I25YB8xpAj2cFtYPx3jAos1jtVNpFjOQ&authType=NAME_SEARCH&authToken=4-4O&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A231267222%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1451480782954%2Ctas%3Aliebert" role="button">Linkedin &raquo;</a></p>
        </div>
      </div>
