 <div class="row">
        <div class="col-lg-4">
          <h4>Julien Houssou </h4>
          <p> Etudiant de 23 ans en 4A-CFA</p>
          <p>Apprenti en production informatique au sein de BNP Paribas dans les équipes de l'entité Banque de Détail en France</p>
          <p><a class="btn btn-primary" href="https://www.linkedin.com/profile/view?id=AAIAABGrkQAB8DAesDJ9XautIr3c-0ekyxpNisE&trk=nav_responsive_tab_profile" role="button">En savoir plus &raquo;</a></p>
        </div>
        <div class="col-lg-4">
         <!-- <h4>Pourquoi esquiver "Le Bon Coin"</h4>
          <p>Parce que la phrase d'approche : "Je paierai en Franc CFA par Western-Union" vous saoule ? Annonciator exige le paiement en espèces dans sa charte (que vous ne trouverez jamais).</p>
          <p><a class="btn btn-primary" href="http://www.abcargent.com/arnaque-le-bon-coin-paypal/" role="button">En savoir plus &raquo;</a></p> -->
       </div>
        <div class="col-lg-4">
          <h4>Antoine Liebert</h4>
          <p>Etudiant de 25 ans en 4A-CFA.</p>
          <p>Apprenti chez Saint Gobain au sein des équipes informatiques (Support/Développement Progicil PeopleSoft.)
          <p><a class="btn btn-primary" href="" role="button">View details &raquo;</a></p>
        </div>
      </div>
