
      <h1>Les créateurs d'Annonciator</h1>

    	<div class="row">
        <div class="col-lg-4">
          <h4>Julien Houssou</h4>

          <p>23 ans, étudiant en 4A-UFA et apprenti chez BNP Paribas au sein de la production informatique de la banque de détail en France.</p>
          <p><a class="btn btn-primary" href="http://www.succes-marketing.com/marketing/analyse/6-techniques-vaincre-concurrence.html" role="button">En savoir plus &raquo;</a></p>
        </div>
       
