<body>
      <!-- Jumbotron -->

      <div class="jumbotron">
        <p align="center"><%= image_tag("logo4.png", :alt => "Application exemple", :class => "round") %></p>
        <p class="lead"></p>
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Inscris-toi ici</a></p> -->
      </div>

      <!-- Example row of columns -->
    </br>
    </
      <div class="row">
        <div class="col-lg-4">
          <h4 align = "center">Détruire la concurrence</h4>
          <p align = "justify">La concurrence se porte très mal car nous les maltraitons à l'extrême limite de la loi. Harcélement téléphonique, Dénigrement, Insultes répétées dans la presse et attaque par Déni de Service sont les valeurs dont nous sommes fiers. Depuis notre arrivée sur le marché, le CA trimestriel de "Le Bon Coin" est en baisse de 32,6% </p>
          <p>Qui sont nous concurrents : Le Bon Coin, Price Minister, de Particulier à Particulier </p>
          <p><a class="btn btn-primary" href="http://www.succes-marketing.com/marketing/analyse/6-techniques-vaincre-concurrence.html" role="button">En savoir plus &raquo;</a></p>
        </div>
        <div class="col-lg-4">
         <!-- <h4>Pourquoi esquiver "Le Bon Coin"</h4>
          <p>Parce que la phrase d'approche : "Je paierai en Franc CFA par Western-Union" vous saoule ? Annonciator exige le paiement en espèces dans sa charte (que vous ne trouverez jamais).</p>
          <p><a class="btn btn-primary" href="http://www.abcargent.com/arnaque-le-bon-coin-paypal/" role="button">En savoir plus &raquo;</a></p> -->
       </div>
        <div class="col-lg-4">
          <h4>Annonciator - Mode d'emploi</h4>
          <p>Rejoins la communauté annonciator et vend/achète les biens disponibles sur notre site. Fini les phrase d'approche "Je paierai en Franc CFA" </br>Ciao les paiements via western-union. Annonciator exige le paiement en liquide</p>
        </br>
        </br>
        </br>
        </br>
          <p><a class="btn btn-primary" href="" role="button">En savoir plus &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
     

    </div> <!-- /container -->

<p align="center"> Bonjour M. Fabrigli : Un bug de synchronisation avec la base de donnée PostGre d'Heroku empêche le fonctionnement de la fonctionnalité Annonces. Nous n'avons pas encore trouvé le problème y compris en vérifiant les logs Heroku
  Il ne sera pas possible de tester la zone "Annonces" en live sur le lien Heroku mais elle est fonctionnelle en locale.
  Il faudra pour cela importer le projet github sur votre machine et démarrer l'appli en localhost:3000 pour tester la vue des annonces. 
</br>
  <p align="center">Bien à vous et très bonne année 2016. </br>
  Julien Houssou et Antoine Liébert<p><p>

</br>
</br>
</br>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
