<header>
  <p align="center"><%= image_tag("logo.png", :alt => "Application exemple", :class => "round") %></p>
  <nav class="round">
      <div>
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
        <nav>
          <ul class="nav nav-justified">
            <li><%= link_to 'Accueil', "/pages/home" %></li>
            <li><%= link_to 'Annonces', "/annonces" %></li>
            <li><%= link_to 'Contact', "/pages/contact"%></li>
          </ul>
        </nav>
      </div>
  </nav>
</header>